{% extends '::base.html.twig' %}

{% block menu_item_about %} class="active"{% endblock %}
{% block content %}

<h2>Observatory list</h2>


<P>{{ pagination.getTotalItemCount }} total Observatories</P>

<table class="table table-condensed table-hover">
    <tr>
        <th>{{ knp_pagination_sortable(pagination, 'Code', 'o.code') }}</th>
        <th{% if pagination.isSorted('o.Name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'o.name') }}</th>
    </tr>


    {% for observatory in pagination %}
    <tr>
        <td><a href="{{ path('mpc_obs_details', {'code':observatory.code}) }}">{{ observatory.code }}</a></td>
        <td>{{ observatory.name }}</td>
    </tr>
    {% endfor %}

</table>


<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{% endblock content %}